os: windows
language: shell
python: "3.9"

before_install:
  - choco install python
  - choco install 7zip
  - PATH=$PATH:"/c/Program\ Files/7-Zip:/c/Python39:/c/Python39/Scripts"
  - python -m pip install --upgrade pip
  - pip install -r requirements.txt
  - pip install -r requirements-windows.txt

script:
  - cd $TRAVIS_BUILD_DIR
  - cxfreeze -c alma_location_checker\checker.py --target-dir dist
  - 7z.exe a checker.zip build/*
  - mv checker.zip build

deploy:
  provider: pages
  token: $GITHUB_TOKEN
  keep_history: true
  local_dir: $TRAVIS_BUILD_DIR/build
  strategy: git
  edge: true
  target_branch: gh-pages
  committer_from_gh: true
  on:
    branch: main
