os: windows
language: shell
python: "3.9"

before_install:
  - choco install python
  - choco install 7zip
  - $env:Path += ";C:\Program Files\7-Zip;C:\Python39;C:\Python39\Scripts;"
  - pip install pyinstaller

script:
  - cd $TRAVIS_BUILD_DIR
  - pip install .
  - pyinstaller alma_location_checker/checker.py
  - 7z.exe a checker.zip build/*
  - mv checker.zip build

deploy:
  provider: pages
  token: $GITHUB_TOKEN
  keep_history: true
  local_dir: $TRAVIS_BUILD_DIR/build
  strategy: git
  edge: true
  target_branch: gh-pages
  committer_from_gh: true
  on:
    branch: main
